
.App {
  text-align: center;
  padding: 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #222;
  padding: 0px;
  color: white;
}

.App-title {
  padding: 0px;
  margin: 0px;
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

body{
  background-color:#bdc1ca;
}
/* Place the HTML 5 spinner at the default position */
#html5Form .inputContainer .form-control {
  padding-right: 10px;
}
/* Adjust feedback icon position */
#html5Form .inputContainer .form-control-feedback {
  right: -15px;
}
.input-div{
  text-align:center;
}
.input-div input{
  padding:0.7rem;
  width: 20rem;
  font-style: italic;
}
.input-div button{
  padding: 0.7rem;
  width:7rem;
}
.padding-top{
  padding-top:1rem;
}
.card-design{
  height:25rem;
  background-color:#f9f9f9;
  text-align: center;
  box-shadow: 0em 0.5em 1em 0em rgba(0, 0, 0, 0.8);
  margin:1rem;
  float: none;
  justify-content: center;
}
.middle{
  word-wrap: break-word;
}
h1{
  font-size:5vw;
  text-align: center;
}
h3{
  font-size:1.2em;
  text-align: left;
}
h4{
  font-size:.8em;
  text-align: left;
}
.top div{
  color:black;
  background-color:black;
  width:5rem;
  height:2px;
  padding-top:1px;
}
.array{
  padding: 5rem;
  position: fixed;
  bottom:0;
  left:0;
  background-color: grey;
}
.space-10{
  padding: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@media only screen and (max-width: 600px) {

  .card-design{
    width: 60%;
    padding: 0rem;
    margin: 0rem;
    margin-left: 8rem;
  }


}


